.containerGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
  grid-template-rows:  repeat(1, 1fr 1fr);
  justify-items: center;
  align-items: center;
}

.iconBox {
  border: 1px solid #777;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #777;
}

.book:hover, .home:hover, .stopwatch:hover, .code:hover {
  background-color: rgb(112, 182, 223);
  color: white;
}

.numberBox {
  padding-right: 10px;
  text-align: right;
  color: #fff;
  background-color: #777;
}

.active {
  background-color: rgb(112, 182, 223);
  color: #fff;
}
